.active{
    background-color: #8d0e63;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}
nav.title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(160, 18, 160);
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: rgb(182, 83, 177);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}
nav ul li a:not(.active)hover{
    background-color: #172554;
}
nav .menu{
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color:  rgb(92, 6, 85);
    border-radius: 0.2rem;
}
@media (max-width:480px){
    nav .menu{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open{
        display: flex;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: 0.2rem 0.5rem;
    }
}
/**********************************************************/
/* BUTTON */
.navbar .nav-link.btn {
    background-color: white; 
    color: rgb(148, 26, 107); 
  }
  
  .navbar .nav-link.btn .text-dark {
    color: black; 
  }
  
  /* BUTTON ANIMATION*/
  .navbar .nav-link.btn {
    background-color: white; 
    color: black; 
    transition: background-color 0.3s; 
  }
  
  /* Estilo para el texto en los botones del encabezado */
  .navbar .nav-link.btn .text-dark {
    color: black; /* Texto negro */
  }
  
  /* Estilo para la animación de los botones en hover */
  .navbar .nav-link.btn.btn-animation:hover {
    background-color: rgb(54, 161, 227); 
  }
  
  /*Estilo para la animacion de la lista de botones de Personajes*/
  .navbar .nav-link.btn.btn-animation2:hover {
    background-color: rgb(10, 237, 116); 
  }